@charset "UTF-8";

.emp_dashboard {
	width: 100%;
	height: 100%;
	
	background-color: #2C3E50;
	
	display: flex;
	flex-direction: column;
}

.emp_top_box {
	width: 90%;
	min-width: 1250px;
	height: 200px;
	margin: 0 auto;
	margin-top: 200px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.emp_main_box {
	width: 15%;
	min-width: 230px;
	height: 150px;
	
	background-color: white;
	
	border-radius: 20px;
	box-shadow:
		0 0 1px #000,
		0 0 3px #FFF,
		0 0 6px #FFF;
		
	text-align: center;
}

.em_label {
	font-size: 1.5em;
	font-weight: 600;
	color: black;
	padding: 3px;
}

.em_time {
	width: 50%;
	height: 30px;
	border: none;
	border-radius: 10px;
	
	margin: 0 auto;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.em_sm_btn {
	width: 50%;
	height: 40px;
	border-radius: 15px;
	border: 1.5px solid white;
	
	margin: 0 auto;
	margin-top: 30px;
	
	font-size: 18px;
	font-weight: 600;
	
	background: linear-gradient(to right, silver, #2C3E50);
	background-size: 200% auto;
	transition: background-position 0.3s ease-in-out;
}

.em_sm_btn:hover {
	background-position: right center;
	color: white;
}

.emp_info_box {
	width: 90%;
	min-width: 1250px;
	height: 60%;
	min-height: 680px;
	
	margin: 0 auto;
	padding: 20px;
	
	border-radius: 20px;
	box-shadow:
		0 0 1px #000,
		0 0 3px #FFF,
		0 0 6px #FFF;
	background-color: white;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	align-items: center;
}

.emp_info_menu {
	width: 30%;
	height: 80%;
	
	border-radius: 15px;
	background-image: linear-gradient(45deg, #2C3E50, #5F3E50);
	
	box-shadow:
		0 0 5px #000;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.info_item {
	width: 90%;
	height: 40px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 5px 5px 5px 20px;
	
	display: flex;
	flex-direction: row;
	
	border-radius: 10px;
	box-shadow:
		0 0 3px #FFF;
	
	background-color: white;
		
	label {
		display: inline-block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	label:first-child {
		display: inline-block;
		width: 150px;
		font-size: 18px;
		font-weight: 600;
	}
	
}

.emp_update_box {
	width: 700px;
	height: 900px;
	
	margin: 0 auto;
	margin-top: 200px;
	
	background-color: white;
	box-shadow:
		0 0 3px #FFF,
		0 0 6px #FFF;
	border-radius: 15px;
	
	display: flex;
	flex-direction: column;
	
	[type=submit] {
		width: 50%;
		height: 40px;
		margin: 0 auto;
		margin-top: 30px;
		border: none;
		
		background-image: linear-gradient(125deg, #81ecec, #6c5ce7);
		color: white;
		font-size: 20px;
		font-weight: 500;
		
		text-shadow:
			0 0 3px #FFF;
		border-radius: 15px;
		
		&:hover {
			font-size: 22px;
		}
	}
}

.update_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	width: 90%;
	height: 65px;
	margin: 0 auto;
	margin-top: 10px;
		
	label {
		display: inline-block;
		width: 160px;
		line-height: 50%;
		padding-left: 10px;
		font-size: 20px;
		font-weight: 600;
	}
	
	input {
		outline: none;
		width: 80%;
		height: 35px;
		border: none;
		border-radius: 10px;
		box-shadow:
			0 0 3px #000;
		padding-left: 10px;
		
		font-size: 15px;
		font-weight: 500;
		
	}
	
}

.update_info:first-child {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	align-items: center;
	justify-content: center;
	
	background-image: linear-gradient(125deg, #81ecec, #6c5ce7);
	color:white;
	font-size: 30px;
	
	box-shadow: none;
	border-radius: 15px;
}

#addressSearch {
	color: white;
	text-shadow:
		0 0 5px #000;
	
	&:hover {
		font-size: 22px;
	}
}

#addressModal {
	display: none;
	margin: 0 auto;
	
	width: 100%;
	height: 100%;
	position: fixed;
	
	
	background: rgba(0,0,0,0.9);
	div {
		width: 20%;
		max-height: 500px;
		margin: 0 auto;
		margin-top: 400px;
		box-shadow:
			0 0 3px #000;
		border-radius: 15px;
		padding: 10px;
		
		display: flex;
		flex-direction: column;
		background-color: white;
	}
}

#searchKeyword {
	width: 100%;
	margin: 0 auto;
	
	height: 40px;
	min-height: 40px;
	border-radius: 15px;
	border: none;
	
	outline: none;
	
	background-color: #F5F5F5;
	padding-left: 10px;
	
	margin-bottom: 10px;
	
	box-shadow:
		0 0 3px #000;
	
}

#searchBtn {
	width: 50%;
	height: 35px;
	margin: 0 auto;
	
	outline: none;
	border: none;
	
	font-size: 20px;
	font-weight: 600;
	
	background-image: linear-gradient(125deg, #81ecec, #6c5ce7);
	border-radius: 15px;
	color: white;
}

#closeModal {
	width: 50%;
	height: 35px;
	margin: 0 auto;
	margin-top: 10px;
	
	outline: none;
	border: none;
	
	font-size: 20px;
	font-weight: 600;
	
	background-image: linear-gradient(125deg, #81ecec, #6c5ce7);
	border-radius: 15px;
	color: white;
	
}

#addressList {
	overflow-y: auto;
}
























