@charset "UTF-8";
.login_box {
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	
	background-color: #2c3e50;
	
	box-shadow:
		0 0 3px #FFF,
		0 0 6px #FFF;
}

.login_text {
	width: 50%;
	height: 35px;
	
	border: 1px solid #CCC;
	border-radius: 15px;
	padding-left: 10px;
	outline: none;
	
	margin: 0 auto;
	margin-top: 20px;
}

.login_text:nth-of-type(3), .login_text:nth-of-type(4) {
	width: 40%;
	
	background-image: linear-gradient(150deg, #81ecec, #6c5ce7);
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	
	border: none;
	
	&:hover {
		background-image: linear-gradient(150deg, #20b2aa, #afeeee);
		text-shadow:
			0 0 1px #000,
			0 0 5px #FFF;
	}
	
}

.login_form {
	width: 50%;
	min-width: 600px;
	max-width: 700px;
	height: 50%;
	min-height: 500px;
	max-height: 600px;
	
	padding: 10px;
	margin: 0 auto;
	
	background-color: white;
	border-radius: 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	text-align: center;
	align-self: center;
}

h1 {
	font-size: 50px;
	
	background-image: linear-gradient(125deg, #81ecec, #6c5ce7, #afeeee);
	-webkit-background-clip: text;
	background-clip: text;
	
	color: transparent;
	font-weight: 900;
	
}

.managerSuccess {
	display: none;
	position: fixed;
	
	width: 500px;
	height: 300px;
	
	padding: 10px;
	
	/* 화면 중앙에 위치하게 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	
	background-color: white;
	
	display: flex;
	flex-direction: column;
	
	box-shadow: 0 0 3px #000;
	border-radius: 20px;
	
	text-align: center;
	justify-content: center;
	
	label {
		display: inline-block;
		width: 100%;
		line-height: 50px;
		font-size: 20px;
		font-weight: 600;
	}
	
	button {
		width: 30%;
		height: 35px;
		margin: 0 auto;
		margin-top: 30px;
		
		border: none;
		border-radius: 10px;
		
		color:white;
		font-size: 18px;
		background-color: #0D6EFD;
	}
	
}