@charset "UTF-8";
main {
	width: 100%;
	height: 95%;
	
	background-color: #F5F5F5;
	padding: 10px;
	
	display: flex;
	flex-direction: column;
}

.mng_top_box {
	width: 90%;
	min-width: 1450px;
	height: 250px;
	
	margin: 0 auto;
	margin-top: 60px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	align-items: center;
	
	padding: 10px;
}

.mng_top_item {
	width: 20%;
	height: 80%;
	padding: 5px;
	margin-right: 100px;
	
	
	background-color: #2C3E50;
	border: none;
	border-radius: 15px;
	
	box-shadow:
		0 0 3px #2C3E50,
		0 0 6px #2C3E50;
		
	display: flex;
	flex-direction: column;
	
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	
	color: white;
	white-space: nowrap;
	
	p {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	p:last-child {
		margin-top: 20px;
		font-size: 30px;
		text-shadow:
			0 0 1px #000,
			0 0 3px #FFF;
	}
	
	a {
		text-decoration: none;
		margin: 0 auto;
		margin-top: 20px;
		line-height: 50px;
		border-radius: 15px;
		width: 50%;
		font-size: 25px;
		
		color: white;
		text-shadow: 0 0 1.5px #FFF;
		border: 1px solid white;
		font-weight: 900;
		letter-spacing: 2px;
		
		background-image: linear-gradient(315deg,
			#2C3E50, #2C3E50, #2C3E50, #2C3E50, #2C3E50,
			#D5D5D5,
			#2C3E50, #2C3E50, #2C3E50, #2C3E50, #2C3E50);
		background-position: 100% 100;
		transition: background-position 0.5s ease;
		
		background-size: 200% 100%;
		&:hover {
			background-position: 100% 0;
		}
	}
}

.mng_top_item:first-child p:last-child {
	margin-top: 0px;
}

.mng_top_item:last-child {
	margin-right: 0px;
}

/* 관리자 메인 페이지 본문 부분 */
.mng_bottom_box {
	width: 90%;
	min-width: 1450px;
	height: 60%;
	
	margin: 0 auto;
	margin-top: 30px;
	
	background-color: #2C3E50;
	border: none;
	border-radius: 20px;
	
	box-shadow:
		0 0 3px #2C3E50,
		0 0 6px #2C3E50;
		
	padding: 10px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.mng_bottom_item {
	width: 25%;
	height: 90%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.mng_bottom_menu {
	width: 90%;
	max-width: 400px;
	height: 50px;
	
	background-color: white;
	
	margin: 0 auto;
	margin-bottom: 15px;
	
	display: flex;
	flex-direction: row;
	
	align-items: center;
	border-radius: 10px;
	
	label {
		line-height: 90%;
		
		padding: 0;
		padding-left: 10px;
		
		margin: 0;
	}
	
	label:first-child {
		width: 120px;
		font-size: 20px;
		font-weight: 600;
		
		text-align: center;
	}
}

.mng_bottom_menu:last-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.mng_bottom_menu input[type=submit] {
	width: 120px;
	height: 30px;
	
	border: none;
	border-radius: 10px;
	margin:0 auto;
	
	background-color: #2C3E50;
	color: white;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	
	&:hover {
		background-image: linear-gradient(150deg, #81ecec, #6c5ce7);
		text-shadow: 0 0 3px #FFF;
	}
}

.mng_bottom_menu select {
	width: 150px;
	height: 30px;
	margin-left: 20px;
	padding-left: 5px;
	outline: none;
	border: none;
	
	border-radius: 10px;
	box-shadow: 0 0 3px #000;
	
	font-size: 16px;
}













