<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emp.employ.atted.AttedMapper">
	
	<!-- 출석 체크 -->
	<insert id="atteStart">
		INSERT INTO attendance_record
			(currentDate, employee_id, atte_start, atte_flag)
		VALUES
			(#{currentDate} ,#{employee_id}, #{atte_start}, #{atte_flag})
	</insert>
	
	<!-- 퇴근 체크하기 전에 출석 체크 했는지 확인 -->
	<select id="atteEndContains" resultType="com.emp.employ.atted.AttedDTO">
		SELECT
			TO_CHAR(AR.atte_start, 'HH24:MI') AS atte_start
		FROM
			attendance_record AR, employees E
		WHERE
			E.employee_id = AR.employee_id AND
			E.employee_id = #{employee_id} AND
			TO_CHAR(AR.currentDate, 'yyyy-mm-dd') = TO_CHAR(#{currentDate}, 'yyyy-mm-dd') AND
			E.emp_flag != 0
	</select>
	
	<!-- 퇴근체크 실행 -->
	<update id="atteEndUpdate">
		UPDATE
			attendance_record
		SET
			atte_end = #{atte_end},
			work_time = #{work_time}
		WHERE
			employee_id = #{employee_id} AND
			TO_CHAR(currentDate, 'yyyy-mm-dd') = TO_CHAR(#{currentDate}, 'yyyy-mm-dd')
	</update>
	
	<!-- 퇴근버튼을 한 번 더 눌렀을 때 막기 위한 SELECT -->
	<select id="atteEndStop" resultType="int">
		SELECT
			count(*)
		FROM
			attendance_record AR, employees E
		WHERE
			E.employee_id = AR.employee_id AND
			work_time IS NOT NULL AND
			E.employee_id = #{employee_id} AND
			TO_CHAR(AR.currentDate, 'yyyy-mm-dd') = TO_CHAR(#{currentDate}, 'yyyy-mm-dd') AND
			E.emp_flag != 0
	</select>
	
	<!-- 당일 출근한 시간 조회 -->
	<select id="attedNowStart" resultType="java.lang.String">
		SELECT
    		CASE
        		WHEN COUNT(AR.atte_start) = 0 THEN '미출근'
        		ELSE TO_CHAR(MIN(AR.atte_start), 'HH24"시" MI"분"')
    		END AS work_start
		FROM
    		attendance_record AR, employees E
		WHERE
			E.employee_id = AR.employee_id AND
    		AR.employee_id = #{employee_id} AND
    		TO_CHAR(currentdate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND
    		E.emp_flag != 0
	</select>
	
	<!-- 총 근무한 일수 조회 -->
	<select id="allWorkCount" resultType="int">
		SELECT
		    COUNT(*)
		FROM
		    attendance_record AR, employees E
		WHERE
			E.employee_id = AR.employee_id AND
		    AR.employee_id = #{employee_id} AND
		    AR.atte_flag != 4 AND
		    E.emp_flag != 0 
		ORDER BY currentdate DESC
	</select>
	
</mapper>