<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.employ.lateness.LatenessMapper">

    <select id="selectLatenessListByEmployee_id" parameterType="String" resultType="com.emp.employ.lateness.LatenessDTO">
        SELECT
            employee_id,
            TO_CHAR(ness_date, 'YYYY-MM-DD') AS ness_date,
            TO_CHAR(created_date, 'YYYY-MM-DD') AS created_date,
            atte_flag,
            content,
            status
        FROM lateness
        WHERE employee_id = #{employee_id} 
        ORDER BY ness_date DESC
    </select>
    
    <insert id="insertLateness" parameterType="com.emp.employ.lateness.LatenessDTO">
        INSERT INTO lateness (
            employee_id,
            ness_date,
            created_date,
            atte_flag,
            content,
            status
        ) VALUES (
            #{employee_id},
            #{ness_date},
            SYSDATE,
            #{atte_flag},
            #{content},
            #{status}
        )
    </insert>
    
    <!-- 수정 전 정보를 위한 select -->
    <select id="selectLatenessByEmployee_idAndNess_date" resultType="com.emp.employ.lateness.LatenessDTO">
        SELECT
            employee_id,
            TO_CHAR(ness_date, 'YYYY-MM-DD') AS ness_date,
            TO_CHAR(created_date, 'YYYY-MM-DD') AS created_date,
            atte_flag,
            content,
            status
        FROM lateness
        WHERE employee_id = #{employee_id} AND TO_CHAR(ness_date, 'YYYY-MM-DD') = #{ness_date}
    </select>
    
    <!-- 수정 -->
	<update id="updateLateness" parameterType="map">
	    UPDATE lateness
	    SET
	        ness_date = #{latenessDTO.ness_date},
	        content = #{latenessDTO.content},
	        atte_flag = #{latenessDTO.atte_flag}
	    WHERE
	        employee_id = #{latenessDTO.employee_id} AND ness_date = TO_DATE(#{originalNessDate}, 'YYYY-MM-DD')
	</update>
	
	<update id="updateLatenessNew">
    UPDATE lateness
    SET
        ness_date = #{ness_date},
        content = #{content},
        atte_flag = #{atte_flag}
    WHERE
        employee_id = #{employee_id} AND ness_date = TO_DATE(#{originalNessDate}, 'YYYY-MM-DD')
    </update>
    
	<delete id="deleteLateness" parameterType="com.emp.employ.lateness.LatenessDTO">
		DELETE FROM lateness
		WHERE employee_id = #{employee_id} AND ness_date = TO_DATE(#{ness_date}, 'YYYY-MM-DD')
	</delete>
    
    <!-- 검색기능 -->
    <select id="selectLatenessListByEmployee_idAndStatusAndAtte_flag" resultType="com.emp.employ.lateness.LatenessDTO">
        SELECT
            employee_id,
            TO_CHAR(ness_date, 'YYYY-MM-DD') AS ness_date,
            TO_CHAR(created_date, 'YYYY-MM-DD') AS created_date,
            atte_flag,
            content,
            status
        FROM lateness
        WHERE
            employee_id = #{employee_id}
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="atte_flag != null">
                AND atte_flag = #{atte_flag}
            </if>
        ORDER BY ness_date DESC
    </select>
    
    <!-- 전체 신청 목록을 조회하는 쿼리 (관리자 페이지용) -->
	<select id="selectLatenessListAll" resultType="com.emp.employ.lateness.LatenessDTO">
	    SELECT
	        l.employee_id,
	        TO_CHAR(l.ness_date, 'YYYY-MM-DD') AS ness_date,
	        TO_CHAR(l.created_date, 'YYYY-MM-DD') AS created_date,
	        l.atte_flag,
	        l.content,
	        l.status,
	        e.name,
	        d.department_name AS departments
	    FROM lateness l
	    JOIN employees e ON l.employee_id = e.employee_id
	    JOIN departments d ON e.department_id = d.department_id	    
	    ORDER BY l.created_date DESC
	</select>

   <!--  승인여부 업데이트 -->
    <update id="updateLatenessStatus">
        UPDATE lateness
        SET 
            status = #{status}
        WHERE 
            employee_id = #{employee_id}
        AND 
            ness_date = #{ness_date}
    </update>
   
   <!-- 관리자 페이지 검색 -->
	<select id="selectLatenessListByManager" resultType="com.emp.employ.lateness.LatenessDTO">
	    SELECT
	        l.employee_id,
	        TO_CHAR(l.ness_date, 'YYYY-MM-DD') AS ness_date,
	        TO_CHAR(l.created_date, 'YYYY-MM-DD') AS created_date,
	        l.atte_flag,
	        l.content,
	        l.status,
	        e.name,
	        d.department_name AS departments
	    FROM lateness l
	    JOIN employees e ON l.employee_id = e.employee_id
	    JOIN departments d ON e.department_id = d.department_id
		<where>
		    <if test="searchText != null and !searchText.isEmpty()">
		        (l.employee_id = #{searchText} OR e.name LIKE '%' || #{searchText} || '%' OR d.department_name LIKE '%' || #{searchText} || '%')
		    </if>
		    <if test="status != null">
		        AND l.status = #{status}
		    </if>
		    <if test="atte_flag != null">
		        AND l.atte_flag = #{atte_flag}
		    </if>
		</where>
	    ORDER BY l.created_date DESC, l.ness_date DESC
	</select>
	
	<!--  연동을 위한 문구 -->
	
		<!--  조회 -->
		<select id = "searchLatenessDetail" resultType="com.emp.employ.lateness.LatenessDTO">
			SELECT 	* FROM lateness
			WHERE employee_id = #{employee_id} AND ness_date = #{ness_date}
		</select>
		<!-- 출근 기록 -->
		<select id="selectAttendanceCount" resultType="int">
		    SELECT count(*)
		    FROM attendance_record
		    WHERE employee_id = #{employee_id} AND currentdate = #{ness_date}
		</select>
		<!-- 결근 삽입 -->
		<insert id="insertAttendanceRecord">
		    INSERT INTO attendance_record (employee_id, currentdate, atte_flag)
		    VALUES (#{employee_id}, #{ness_date}, #{atte_flag})
		</insert>
		<!-- 지각 업데이트 -->
		<update id="updateAttendanceRecord">
		    UPDATE attendance_record
		    SET atte_flag = #{atte_flag}
		    WHERE employee_id = #{employee_id} AND currentdate = #{ness_date}
	    </update>
</mapper>
