<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emp.manager.employee.ManagerLeaveMapper">
	<!-- 연차 적립할 직원 검색 -->
	<select id="annualEmp" resultType="com.emp.employ.employee.EmployeeDTO">
		SELECT
			E.employee_id,
			E.name,
			D.department_name,
			NVL(D.manager_name, '미지정') AS manager_name,
			P.position_name,
			TO_CHAR(E.employment_date, 'YYYY"년" MM"월" DD"일"') AS employment_date
		FROM
			employees E, departments D, positions P
		WHERE
			E.department_id = D.department_id AND
			E.position_id = P.position_id AND
			E.name = #{name}
	</select>
	
	<!-- 연차 적립 실행 -->
	<insert id="annualInsert">
		
	</insert>
</mapper>










