<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emp.employ.leave.OtMapper">

<insert id="insertOt">

</insert>

<select id="getotReqList" resultType="com.emp.employ.leave.OtReqDTO">

</select>

<select id="otDetail" resultType="com.emp.employ.leave.OtReqDTO">

</select>

</mapper>